header {
  .inner-container {
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
  }

  .right-section--container {
    display: flex;
    align-items: center;

    li {
      margin-right: 20px;
      display: flex;
      position: relative;
      img {
        width: 18px;
      }

      &:first-child:after {
        content: '';
        display: block;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: #25bf6b;
        position: absolute;
        top: -5px;
        right: -5px;
      }

      &:last-child {
        margin-right: 0;
        margin-left: 10px;
      }
    }
  }
}
