.input-container-search {
  position: relative;
  display: flex;
  align-items: center;

  ::placeholder {
    color: #aaa;
    font-size: 12px;
  }

  input {
    background-color: var(--label-color);
    border-radius: 7px 0 0 7px;
    padding: 11px 15px;
    width: 200px;
    color: #1f1f1f;

    &:focus ~ label {
      display: none;
    }
  }

  .search-btn {
    padding: 7px;
    border: none;
    background-size: 300% 100%;
    border-radius: 0 7px 7px 0;
    outline: none;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    background-image: linear-gradient(
      to right,
      #0ba360,
      #3cba92,
      #30dd8a,
      #2bb673
    );

    cursor: pointer;

    &:hover {
      background-position: 100% 0;
      -o-transition: all 0.4s ease-in-out;
      -webkit-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
    }
  }
}
