li.item {
  flex-basis: 33.3333%;
  height: 340px;
  padding-right: 20px;
  margin-bottom: 60px;
  box-sizing: border-box;
  align-self: flex-start;

  &:nth-child(3n) {
    padding-right: 0;
  }

  img {
    width: 16px;
    margin-right: 4px;
    cursor: pointer;
  }

  .show-off {
    display: none;
  }

  .item__image-container {
    height: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 7px 7px 0 0;

    .item__image-caption,
    .item__image {
      -webkit-transition: all 0.3s ease-in;
      transition: all 0.3s ease-in;
    }

    .like-container {
      width: 48px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 3;
      padding: 15px;
      border-radius: 10px;
      background-color: rgba(0, 0, 0, 0.2);
      opacity: 0;
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      img {
        width: 100%;
        opacity: 1;
      }
    }

    .item__image-caption {
      color: #fff;
      background-color: rgba(0, 0, 0, 0.4);
      position: absolute;
      left: 0;
      width: 100%;
      height: 13%;
      bottom: 0;
      -webkit-transform: translateY(100%);
      transform: translateY(100%);
      display: flex;
      border-top: 1px solid rgba(255, 255, 255, 0.8);
      align-items: center;
      justify-content: center;
      cursor: pointer;

      a {
        color: #fff;
        display: flex;
        align-items: center;
        font-size: 14px;
      }

      img {
        width: 15px;
        margin-left: 6px;
      }

      &:hover {
        background-color: rgba(0, 0, 0, 0.6);
      }
    }

    &:hover {
      .item__image {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
      }
      .item__image-caption {
        -webkit-transform: translateY(0);
        transform: translateY(0);
      }
      .like-container {
        opacity: 1;
      }
    }
  }

  .item__image {
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 7px 7px 0 0;

    -webkit-transform: scale(1);
    transform: scale(1);
  }

  .item__bar {
    display: flex;
    justify-content: space-between;
    padding: 7px 10px;
    border: 1px solid #ddd;
    border-radius: 0 0 7px 7px;
    .item__bar__cta,
    .item__bar__user-info {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .item__bar__user-info {
      h3 {
        font-weight: 600;
        font-size: 12px;
        margin-left: 5px;
      }
    }

    .item__bar__cta__like-container,
    .item__bar__cta__comment-container {
      display: flex;
      align-items: flex-end;

      h5 {
        font-size: 13px;
        font-weight: 600;
      }
    }

    .item__bar__cta__like-container {
      margin-right: 10px;
    }
  }
}

@keyframes hvr-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  33.3% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  49.95% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
.hvr-wobble-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
}
.item__image-caption:hover .hvr-wobble-horizontal,
.item__image-caption:focus .hvr-wobble-horizontal,
.item__image-caption:active .hvr-wobble-horizontal {
  -webkit-animation-name: hvr-wobble-horizontal;
  animation-name: hvr-wobble-horizontal;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

@-webkit-keyframes hvr-icon-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
@keyframes hvr-icon-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

.item__image__like-icon {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.item__image__like-icon:hover,
.item__image__like-icon:focus,
.item__image__like-icon:active {
  -webkit-animation-name: hvr-icon-pop;
  animation-name: hvr-icon-pop;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

@media only screen and (max-width: 1030px) {
  li.item {
    flex: 100%;
    padding-right: 0px;
    background-color: #eee;
    &:nth-child(3n) {
      padding-right: 0;
    }
    .item__image {
      width: 90%;
      margin: 0 auto;
    }
  }
}

@media only screen and (max-width: 800px) {
  li.item {
    height: 240px;
    background-color: #eee;
    .item__image {
      width: 60%;
      margin: 0 auto;
    }
  }
}

@media only screen and (min-width: 1030px) {
  li.item {
    &:nth-child(3n) {
      padding-right: 20px;
    }
  }
}

@media only screen and (min-width: 1900px) {
  li.item {
    flex: 25%;
    &:nth-child(3n) {
      padding-right: 20px;
    }
  }
}
