.search {
  width: 90%;
  margin: 0 auto;

  ul li {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    > * {
      margin-right: 100px;

      &:first-child,
      &:last-child {
        margin-right: 50px;
      }
    }

    &:hover {
      background-color: #efefef;
    }

    .search-item__user-info {
      .name {
        font-size: 16px;
        font-weight: 600;
      }
      .username {
        font-size: 14px;
        font-weight: 200;
        margin-top: 10px;
        color: #999;
      }
    }

    .search-item__user-follows {
      h3 {
        font-size: 15px;
        font-weight: 200;
        margin-top: 5px;
        color: #999;
      }
    }

    .search-item__user-cta {
      display: flex;
      flex-direction: column;

      img {
        width: 20px;
        margin-right: 3px;
      }

      button:last-child {
        margin-top: 10px;
        justify-content: center;
      }
    }
  }
}
