.input-container-search {
  position: relative;
  display: flex;
  align-items: center;
}

input,
textarea {
  background-color: var(--label-color);
  border-radius: 7px;
  padding: 11px 15px;
  width: 200px;
  color: #1f1f1f;

  ::placeholder {
    color: #aaa;
    font-size: 12px;
  }
}

.input-container-textarea {
  width: 80%;

  textarea {
    width: 100%;
    resize: none;
    outline: none;
    min-height: 70px;
  }
}

.input-container {
  .input-error {
    font-size: 11px;
    color: red;
    margin-top: 7px;
  }
}
