.left-container {
  background-image: url("https://images.unsplash.com/photo-1523240795612-9a054b0db644?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  position: fixed;
  width: 100%;
  height: 100vh;

  &:after {
    content: "";
    display: block;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
  }

  .left-container__logo-image {
    display: block;
    width: 200px;
    height: 200px;
    background-image: url("../../../img/logo.png");
    background-size: cover;
    margin: 0 auto;
    position: absolute;
    top: 32%;
    left: 22%;
    z-index: 10;
  }
}

@media only screen and (max-width: 800px) {
  .left-container .left-container__logo-image {
    display: none;
  }
}
